.statistics{
  width: 500px;
  color: white;
  background-color: white;
  margin: 0 100%;
  padding-top: 10px;
}
.title{
  text-align: center;
  color: #333333;
}
.stat-list{
  list-style-type: none;
  display: flex;
  padding: 0;
}
.item{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 50px;
    padding: 10px 40px;
}