ul{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 150px;
    display: block;
}
.headerCont{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.header_logo{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    color: #95E1D3;
    padding: 0;
    margin: 0;
}
.navList{
    padding: 0;
    display: flex;
    gap: 50px;
}
.navList_el{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #95E1D3;
}
.navList_el:hover{
    color: #F38181;
}
.subMainTitile{
    text-align: center;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-top: 70px;
}
.mainTitile{
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    color: #333333;
}
.contentList{
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 67px;
}
.contentList_li{
    width: calc((100% - 130px) / 3);
}
.contentList_li h2{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.contentList_li p, .mainNote{
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    color: #B6B6B6;
}
.mainNote{
    text-align: center;
    margin-top: 65px;
}
.teamList{
    margin: 65px 0;
    display: flex;
    gap: 30px;
    padding: 0;
}
.teamList_li h5{
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 0;
}
.teamList_li p{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #B6B6B6;
    margin-top: 5px;
}
.footerContent{
    width: 100%;
    border-top: 1px solid #B6B6B6;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.footerText{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.footerLink{
    color: #F38181;
}
.footerInput{
    width: 230px;
    height: 40px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #B6B6B6;
    padding-left: 5px;
}
.footerBtn{
    width: 150px;
    height: 45px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    background-color:#95E1D3 ;
    border: none;
    border-radius: 0;
}
