.title{
    margin: 30px 0 ;
}
ul{
    list-style-type: none;
    padding: 0;
}
.btn_list{
    display: flex;
    gap: 20px;
    width: 350px;
    margin: 0 auto;
}
.btn_list li button{
    background-color: inherit;
    border-radius: 25px;
    font-weight: 600;
    width: 100px;
    height: 30px;
}
.op_list{
    margin: 0 auto;
    width: 200px;
    text-align: start;
}
.goodBtn:hover{
    background-color: #5B841E;
}
.neutralBtn:hover{
    background-color: #FEDE3A;
}
.badBtn:hover{
    background-color: #d72d27;
}